//.event {
//  display: inline-block;
//  margin: 5px;
//  width: 300px;
//  height: 200px;
//  border: 1px solid green;
//}
/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-heading {
  font-size: 50px;
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 30px;
  }
}