.idea
node_modules
dist

# Word temporary
~$*.doc*
# Excel temporary
~$*.xls*
# PowerPoint temporary
~$*.ppt*

# Windows image file caches
Thumbs.db
ehthumbs.db

# ESLint
.eslintcache

# NPM
npm-debug.log